@import '~style/helpers';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.top_section {
	display: flex;
	width: 100%;
	min-height: 14rem;
	h2 {
		font-size: 2rem;
  	font-weight: bold;
	}
}

.text {
	min-width: 44%;
	width: 44%;
	padding: 1.2rem 0 2.5rem;
}
.text_end_ltr {
	animation: titleAnimation_ltr 0.6s ease-out forwards;
}
.text_end_rtl {
	animation: titleAnimation_rtl 0.6s ease-out forwards;
}
@keyframes titleAnimation_ltr {
	from {
		opacity: 0;
		padding-right: 0;
		padding-left: 1.6rem;
	}
	to {
		padding-left: 0.8rem;
		padding-right: 0.8rem;
	}
}
@keyframes titleAnimation_rtl {
	from {
		opacity: 0;
		padding-right: 1.6rem;
		padding-left: 0;
	}
	to {
		padding-left: 0.8rem;
		padding-right: 0.8rem;
	}
}
.background_top {
	position: relative;
	overflow: hidden;
	min-height: 100%;
	width: 56%;
	img {
		position: absolute;
	}
}
.blank_woman_l {
	top: 2.8rem;
	right: 1.2rem;
}
.blank_woman_r {
	top: 2.8rem;
	left: 1rem;
}

.blank_phone_l {
	top: 1.6rem;
	right: 1.4rem;
}
.blank_phone_r {
	top: 1.5rem;
	left: 2.3rem;
}
.static_title {
	padding-left: 0.8rem;
	padding-right: 0.8rem;
}

.active_woman_l {
	top: 2.8rem;
	z-index: 2;
	animation: moveActiveWomen_ltr 0.6s ease-out forwards;
}
@keyframes moveActiveWomen_ltr {
	from {
		right: 1.2rem;
	}
	to {
		right: 2rem;
	}
}
@keyframes moveActiveWomen_rtl {
	from {
		left: 1rem;
	}
	to {
		left: 2rem;
	}
}
.active_woman_r {
	transform: scale(-1, 1);
	top: 2.8rem;
	animation: moveActiveWomen_rtl 0.6s ease-out forwards;
	z-index: 2;
}
@keyframes moveAvtivePhone_ltr {
	from {
		top: 1rem;
		right: -1.8rem;
	}
	to {
		top: 1.5rem;
		right: -1.5rem;
	}
}
@keyframes moveAvtivePhone_rtl {
	from {
		top: 1rem;
		left: -1rem;
	}
	to {
		top: 1.5rem;
		left: -1rem;
	}
}
.phone_act{
	z-index: 2;
	animation: moveAvtivePhone_ltr 0.6s ease-out forwards;
}
.phone_act_r{
	z-index: 2;
	transform: scale(-1, 1);
	animation: moveAvtivePhone_rtl 0.6s ease-out forwards;
}
.scale {
	transform: scale(-1, 1);
}
.start_bg {
	top: -3rem;
	right: -4rem;
	z-index: 1;
	animation: topBacground 0.6s ease-out forwards;
}
@keyframes topBacground {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.start_bg_rtl {
	top: -3rem;
	left: -4rem;
	z-index: 1;
	animation: topBacground 0.6s ease-out forwards;
}

.discover_phone {
	z-index: 2;
	top: 0;
	animation: discover_phone 0.6s ease-out forwards;
}
.discover_woman {
	z-index: 2;
	top: 0;
	animation: discover_woman 0.6s ease-out forwards;
}
.discover_phone_rtl {
	transform: scale(-1, 1);
	z-index: 2;
	top: 0;
	animation: discover_phone_rtl 0.6s ease-out forwards;
}
.discover_woman_rtl {
	z-index: 2;
	top: 0;
	animation: discover_woman_rtl 0.6s ease-out forwards;
}

@keyframes discover_phone {
	from {
		top: 14rem;
		right: -11rem;
		height: 0%;
	}
	to {
		top: 1.5rem;
		right: -1.5rem;
		height: 100%;
	}
}
@keyframes discover_woman {
	from {
		top: 14rem;
		right: -11rem;
	}
	to {
		top: 2.8rem;
		right: 2rem;
	}
}
@keyframes discover_phone_rtl {
	from {
		top: 14rem;
		left: -11rem;
		height: 0%;
	}
	to {
		top: 1.5rem;
		left: -1rem;
		height: 100%;
	}
}
@keyframes discover_woman_rtl {
	from {
		top: 14rem;
		left: -11rem;
		transform: scale3d(0,0,1);
	}
	to {
		transform: scale3d(-1,1,1);
		top: 2.8rem;
		left: 2rem;
	}
}

.wrap {
	min-width: 100vw;
	display: flex;
	justify-content: center;
}
.features_container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 92vw;
	max-height: 35vh;
	margin-bottom: 4rem;
	scroll-snap-type: x mandatory;
	overflow-x: auto;
}
