@import '~style/helpers';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.top_section {
	display: flex;
	width: 100%;
	min-height: 14rem;
	h2 {
		font-size: 2rem;
		font-weight: bold;
		line-height: 1.2;
	}
}

.text {
	flex-grow: 1;
	padding: 1.2rem 0 2.5rem;
	-moz-padding-start: 0.8rem;
	-webkit-padding-start: 0.8rem;
	padding-inline-start: 0.8rem;
}
.text_end_ltr {
	animation: titleAnimation_ltr 0.6s ease-out forwards;
}
.text_end_rtl {
	animation: titleAnimation_rtl 0.6s ease-out forwards;
}
@keyframes titleAnimation_ltr {
	from {
		opacity: 0;
		transform: translate(1.5rem, 0);
	}
}
@keyframes titleAnimation_rtl {
	from {
		opacity: 0;
		transform: translate(-1.5rem, 0px);
	}
}
.background_top {
	position: relative;
	overflow: hidden;
	min-height: 100%;
	min-width: 52%;
	img {
		position: absolute;
	}
}
.blank_woman_l {
	top: 2.1rem;
	right: 1.2rem;
}
.blank_woman_r {
	top: 2.1rem;
	left: 1rem;
}

.blank_phone_l {
	top: 1.3rem;
	right: 1.4rem;
}
.blank_phone_r {
	top: 1.2rem;
	left: 1.4rem;
}
.static_title {
	// padding-left: 0.8rem;
	// padding-right: 0.8rem;
}

.active_woman_l {
	top: 2.1rem;
	z-index: 2;
	right: 2rem;
	animation: moveActiveWomen_ltr 0.6s ease-out forwards;
}
@keyframes moveActiveWomen_ltr {
	0% {
		transform: translateX(0.9rem)
	}
}
@keyframes moveActiveWomen_rtl {
	0% {
		transform: scale(-1, 1) translateX(1rem);
	}

}
.active_woman_r {
	transform: scale(-1, 1);
	top: 2.1rem;
	left: 2rem;
	animation: moveActiveWomen_rtl 0.6s ease-out forwards;
	z-index: 2;
}
@keyframes moveAvtivePhone_ltr {
	0% {
		opacity: 0;
		transform: translate(0.2rem, -1rem)
	}
}
@keyframes moveAvtivePhone_rtl {
	0% {
		opacity: 0;
		transform: scale(-1, 1) translate(-0.3rem, -0.8rem)
	}
}
.phone_act{
	z-index: 2;
	top: 1.2rem;
	right: -1.9rem;
	animation: moveAvtivePhone_ltr 0.6s ease-out forwards;
}
.phone_act_r{
	z-index: 2;
	top: 1.2rem;
	left: -1.9rem;
	transform: scale(-1, 1);
	animation: moveAvtivePhone_rtl 0.6s ease-out forwards;
}
.scale {
	transform: scale(-1, 1);
}
.static_bd {
	top: 0rem;
	right: 0rem;
	z-index: 1;
}
.start_bg {
	top: 0rem;
	right: -0rem;
	z-index: 1;
	animation: topBacground 0.6s ease-out forwards;
}
.opacity {
	opacity: 0;
}
@keyframes topBacground {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.static_bd_rtl {
	top: 0rem;
	left: 0rem;
	z-index: 1;
}
.start_bg_rtl {
	top: 0rem;
	left: 0rem;
	z-index: 1;
	animation: topBacground 0.6s ease-out forwards;
}
.discover_phone {
	z-index: 2;
	top: 1.2rem;
	right: -1.9rem;
	animation: discover 0.6s ease-out forwards;
}
.discover_woman {
	z-index: 2;
	top: 2.1rem;
	right: 2rem;
	animation: discover 0.6s ease-out;
}
.discover_phone_rtl {
	transform: scale(-1, 1);
	z-index: 2;
	top: 1.2rem;
	left: -1.9rem;
	animation: discover_rtl 0.6s ease-out;
}
.discover_woman_rtl {
	z-index: 2;
	top: 2.1rem;
	transform: scale(-1, 1);
	left: 2rem;
	animation: discover_rtl 0.6s ease-out;
}

@keyframes discover {
	0% {
		opacity: 0;
		transform: translate3d(6rem, 0, 0) rotate3d(-5, 0, -1, 90deg);
	}
}

@keyframes discover_rtl {
	0% {
		opacity: 0;
		transform: scale(-1, 1) translate3d(6rem, 0, 0) rotate3d(-5, 0, -1, 90deg);
	}
}

.wrap {
	min-width: 100vw;
	display: flex;
	justify-content: center;
}
.features_container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	max-height: 35vh;
	-moz-margin-start: 0.5rem;
	-webkit-margin-start: 0.5rem;
	margin-inline-start: 0.5rem;
	-moz-margin-end: 0.8rem;
	-webkit-margin-end: 0.8rem;
	margin-inline-end: 0.8rem;
	padding-bottom: 0.5rem;

	margin-bottom: 4rem;
	scroll-snap-type: x mandatory;
	overflow-x: auto;
}
.static_wrap {
	animation: topBacground 0.6s ease-out forwards;
}
