@import './business_types.css';
@import '../../variables.css';
@import './addFeedback.css';
@import './allFeatures.css';
@import './commonInfo.css';
@import './bussiness.css';
@import './details.less';
@import './feedback.css';
@import './pricing.css';
@import './feature.css';
@import './opened.less';
@import './header.css';
@import './detail.css';
@import './small.css';
@import './post.css';
@import './hero.css';
@import './menu.css';
@import './nav.css';

html, body {
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
	padding: 0;
	margin: 0;
	background: var(--sec-color);
	font-family: var(--font-family);
	color: var(--main-color);
}
h1, h2, h3, figure, p, ul {
	margin: 0;
}
* {
	box-sizing: border-box;
}