.feature {
	margin: 0.5rem 0;
	-moz-margin-start: 0.8rem;
	-webkit-margin-start: 0.8rem;
	margin-inline-start: 0.8rem;
	display: flex;
	background-color: white;
	width: 45%;
	padding: 0.6rem 0;
	-moz-padding-start: 0.6rem;
	-webkit-padding-start: 0.6rem;
	padding-inline-start: 0.6rem;
	border-radius: 15px;
  box-shadow: 0 6px 8px 0 rgba(41, 41, 204, 0.16);
	p {
		padding: 0 0.6rem;
		font-size: 0.9rem;
  	font-weight: 500;
	}
}
