<!DOCTYPE html>
<html lang="en">
<head>
  <base href='/'>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SSR Atzmaim</title>
<link href="./style.css" rel="stylesheet">
</head>
<body>
  <script>let local_translations = ({{{translations}}});</script>
  <script>let config = ({{{globalConfig}}});</script>
  <div id="app">
    {{{ssr}}}
  </div>
  <script src="./app.js"></script>
</body>
</html>
