@import '~style/helpers';

.height {
	padding: 3.5rem 0 0;
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
	scroll-snap-align: start;
}
.full {
	height: 100%;
	background-repeat: no-repeat;
	background-position-x: 46%;
	background-position-y: 100%;
}
.backgroundImg {
	animation: background_img 0.5s ease-out forwards;
}
@keyframes background_img {
	from {
		background-position-y: 95%;
	}
}
.black_phone {
	margin-top: 2.6rem;
}

.common {
	display: flex;
	-moz-padding-start: 1rem;
	-webkit-padding-start: 1rem;
	padding-inline-start: 1rem;
	-moz-padding-end: 0.4rem;
	-webkit-padding-end: 0.4rem;
	padding-inline-end: 0.4rem;
	min-height: 100%;
	width: 100%;
}
.feature_icon {
	display: flex;
	svg {
		width: 2rem;
		height: 2rem;
	}
	svg {
		path, g, circle, text {
			fill: var(--white-color) !important;
			stroke: var(--white-color) !important;
		}
		text {
			direction: ltr;
			font-weight: 500;
		}
	}
}

.shadow {
	animation: bgr_shadow 0.5s ease-out;
	animation-fill-mode: forwards
}
@keyframes bgr_shadow {
	from {
		background: transparent;
	}
	to {
		background-color: rgba(79, 45, 167, 0.85);
}
}
.phone_wrap {
	padding-top: 1.4rem;
	width: 55%;
	display: flex;
	justify-content: center;
	overflow: hidden;
}
.content {
	width: 45%;
	padding-top: 1.4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		font-size: 32px;
  	font-weight: bold;
		color: var(--white-color);
	}
}
.feature_wrap {
	padding: 1rem 0;
}
.feature {
	display: flex;
	align-items: center;
	padding-top: 1rem;
	p {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	figcaption {
		font-size: 0.9rem;
		font-weight: 500;
		-moz-padding-start: 0.5rem;
		-webkit-padding-start: 0.5rem;
		padding-inline-start: 0.5rem;
		color: var(--white-color)
	}
}
.button {
	display: flex;
	margin-top: 1rem;
	text-decoration: none;
	padding: 0.8rem 1.5rem;
	background-color: var(--active-color);
	font-size: 0.9rem;
  font-weight: 500;
	color: var(--white-color);
	border-radius: 50px;
	box-shadow: 0 10px 15px 0 rgba(255, 0, 170, 0.45);
}
.button_label {
	text-align: center;
}

