@import '~style/helpers';

.height {
	padding-top: 3.5rem;
	height: 100%;
	min-height: 100vh;
	width: 100%;
	overflow-x: hidden;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}
.full {
	height: 100%;
	background-repeat: no-repeat;
	background-position-x: 46%;
	background-position-y: 100%;
}
.backgroundImg {
	animation: background_img 0.5s ease-out forwards;
}
@keyframes background_img {
	from {
		background-position-y: 95%;
	}
}
.black_phone {
	margin-top: 2.6rem;
}

.common {
	display: flex;
	width: 100%;
	height: 100%;
	-moz-padding-start: 1rem;
	-webkit-padding-start: 1rem;
	padding-inline-start: 1rem;
	-moz-padding-end: 0.4rem;
	-webkit-padding-end: 0.4rem;
	padding-inline-end: 0.4rem;
	position: absolute;
  opacity: 0;
}
.feature_icon {
	display: flex;
	opacity: 0;
	svg {
		width: 2rem;
		height: 2rem;
	}
	svg {
		path, g, circle, text {
			fill: var(--white-color) !important;
			stroke: var(--white-color) !important;
		}
		text {
			direction: ltr;
			font-weight: 500;
		}
	}
}

.shadow {
	animation: bgr_shadow 0.5s ease-out;
	animation-fill-mode: forwards;
	min-height: 100%;
	width: 100%;
	display: flex;
	position: relative;
}
@keyframes bgr_shadow {
	from {
		background: transparent;
	}
	to {
		background-color: rgba(79, 45, 167, 0.85);
}
}
.phone_wrap {
	padding-top: 1.5rem;
	width: 55%;
	display: flex;
	justify-content: center;
	overflow: hidden;
}
.border_container {
	display: flex;
	align-self: flex-start;
	position: relative;
	animation: phone_animation 0.5s ease-out;
}
@keyframes phone_animation {
	0% {
		transform: translate(0, 2.6rem);
	}
}
.img_border {
	z-index: 3;
}
.img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50.5%) scale(0.7);
	width: 96%;
	object-fit: contain;
}
.content {
	width: 45%;
	padding-top: 1.4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.texts {
	min-height: 55%;
}
.title_container {
	overflow: hidden;
}
.title {
	font-size: 1.9rem;
	line-height: 1.1;
	font-weight: 900;
	color: var(--white-color);
	opacity: 0;
}
@keyframes texteAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%);
	}
  100% {
    opacity: 1;
	}
}
.active {
	opacity: 1;
	h2 {
		animation: texteAnimation 0.3s forwards;
		animation-delay: 0.5s;
	}
}
.active & .img {
	transform: translate(-50%, -50.5%) scale(1) !important;
	opacity: 1;
	transition: transform 0.3s, opacity 0.4s;
}
@keyframes iconAnimation {
	0% {
		transform: scale(0);
	}
	100% {
		opacity: 1;
	}
}
@keyframes featureAnimation {
	0% {
		transform: translateX(-30%);
	}
	100% {
		opacity: 1;
	}
}
@keyframes featureAnimationRtl {
	0% {
		transform: translateX(30%);
	}
	100% {
		opacity: 1;
	}
}
.active & .feature_icon {
	animation: iconAnimation 0.3s forwards;
	animation-delay: 0.8s;
}
.active & figcaption {
	animation: featureAnimation 0.3s forwards;
	animation-delay: 0.8s;
}

.feature {
	display: flex;
	align-items: center;
	padding-top: 0.9rem;
	p {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	figcaption {
		opacity: 0;
		font-size: 0.8rem;
		font-weight: 500;
		-moz-padding-start: 0.5rem;
		-webkit-padding-start: 0.5rem;
		padding-inline-start: 0.5rem;
		color: var(--white-color)
	}
}
.button {
	display: flex;
	align-items: center;
	margin-top: 2.875rem;
	position: relative;
	align-self: flex-start;
	text-decoration: none;
	padding: 0.8rem 1.5rem;
	font-size: 0.9rem;
	font-weight: 500;
	overflow: hidden;
	color: var(--white-color);
	border-radius: 50px;
	box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.35);
	background-image: linear-gradient(to bottom, #ff00aa, #b91d73)
}
.button:before {
	content: '';
	position: absolute;
	top: 0;
	left: -30%;
	width: 2rem;
  height: 100%;
  -webkit-filter: blur(23px);
  filter: blur(23px);
	background-color: #ffffff;
	animation: glow 6s infinite;
	animation-delay: 1s
}
.button_label {
	text-align: center;
}

@keyframes glow {
	0% {
		left: -30%;
	}
	40% {
		left: 105%;
	}
	50% {
		left: 105%;
	}
	90% {
		left: -30%;
	}
	100% {
		left: -30%;
	}
}
body[style="direction: rtl;"] {
	.active {
		figcaption {
			animation: featureAnimationRtl 0.3s forwards;
			animation-delay: 0.8s;
		}
	}
}
