.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 1.5rem;
}
.title {
	font-size: 2rem;
	font-weight: 900;
}
.text_label {
	width: 100%;
	font-size: 0.8rem;
	font-weight: bold;
	margin-bottom: 0.4rem;
	-moz-padding-start: 1rem;
	-webkit-padding-start: 1rem;
	padding-inline-start: 1rem;
}
.contact_input {
	width: 94%;
	padding: 0.7rem;
	outline: none;
	font-size: 0.9rem;
	border-radius: 8px;
	border: solid 1px #a1a7b5;
	margin-bottom: 1rem;
}
.contact_input:focus, .textarea:focus {
	border-color: var(--dark-color);
	transition: 0.3s;
}
.textarea {
	width: 94%;
	font-size: 0.9rem;
	padding: 0.7rem;
	font-family: inherit;
	height: 25vh;
	outline: none;
	border-radius: 8px;
	border: solid 1px #a1a7b5;
}
