.detail_price {
	display: flex;
	padding-top: 5rem;
	// scroll-padding: 3rem;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin: 0.5rem 0;
	background-color: white;
	padding: 1.3rem;
	border-radius: 15px;
	box-shadow: 0 8px 12px 0 rgba(41, 41, 204, 0.16);
	ul {
		margin-bottom: 1rem;
	}
}
.detail_price:last-child {
	margin-bottom: 4.5rem;
}
.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding-bottom: 1.5rem;
}
.header_text {
	-moz-padding-start:  1rem;
	-webkit-padding-start:  1rem;
	padding-inline-start: 1rem;
}
.name {
	font-size: 1.6rem;
	font-weight: bold;
}
.type {
	font-size: 1rem;
}
.cost {
	color: var(--dark-color)
}
.value {
	font-size: 1.8rem;
	font-weight: 900;
	-moz-padding-end: 0.3rem;
	-webkit-padding-end: 0.3rem;
	padding-inline-end: 0.3rem
}
.icon_wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4.7rem;
	height: 4.7rem;
	border-radius: 50%;
	border: solid 3px #eba000;
}
.switch_section {
	display: flex;
	align-items: center;
	padding-bottom: 1.3rem;
	p {
		font-size: 1.2rem;
		font-weight: bold;
	}
}

.feature {
	padding: 0.4rem 0;
	-moz-padding-start:  0.8rem;
	-webkit-padding-start:  0.8rem;
	padding-inline-start: 0.8rem;
}
.paid {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
	background-color: var(--active-color);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 15px;
	font-weight: 500;
	padding: 0.8rem 0;
	border-radius: 8px;

}
.link {
	display: block;
	width: 100%;
	text-decoration: none;
}
.detail_price_active {
	background-image: linear-gradient(142deg, #591ec0, #6623db 25%, #7d3ee8 48%, #be95ff);
	color: white;
	.cost {
		color: #fdb100;
	}
	.paid {
		background-color:rgba(255, 255, 255, 0.1);
	}
}
