.detail_info {
	padding-top: 3.5rem;
	overflow-x: hidden;
}
.header_wrap {
	position: fixed;
	display: flex;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 55;
	background-color: var(--dark-color);
}
.header {
	max-width: 640px;
	position: relative;
	display: flex;
	align-items: center;
	flex-grow: 1;
	height: 3.5rem;
}
.img_wrap {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	display: flex;
}
.back_btn {
	height: 100%;
	padding: 0;
	padding-inline-start: 1rem;
	width: 3rem;
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	outline: none;
	position: absolute;
}
.back_img {
	height: 1.1rem;
}
.menu_btn_wrap, .img_wrap {
	width: 15%;
}
.inactive_b {
	padding-inline-end: 1rem;
}
.title {
	width: 70%;
	flex-grow: 1;
	display: flex;
	justify-content: center;
}
.content {
	padding: 2rem 0 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.page_title {
	align-items: center;
	font-size: 2rem;
	padding-bottom: 1.625rem;
}
body[dir="ltr"] & {
	.back_img {
		left: 0;
	}
}
body[style="rtl"] & {
	.back_img {
		right: 0;
		transform: scale(-1, 1);
	}
}
