.business {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	align-items: center;
	width: 14rem;
	border-radius: 15px;
  box-shadow: 0 8px 12px 0 rgba(41, 41, 204, 0.16);
	background-color: #ffffff;
	-moz-margin-end: 1rem;
	-webkit-margin-end: 1rem;
	margin-inline-end: 1rem;
	img {
		width: auto;
		height: 12rem;
		object-fit: cover
	}
	figcaption {
		margin: 0.5rem 0;
		padding: 0 0.9rem;
		text-align: center;
		font-size: 1rem;
		font-weight: bold;
	}
}
.show_info {
	-moz-margin-end: 1rem;
	-webkit-margin-end: 1rem;
	margin-inline-end: 1rem;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 8px 12px 0 rgba(41, 41, 204, 0.16);
	display: flex;
	align-items: center;
	height: 100%;
	width: 19rem;
	padding: 0.5rem;
}
.wrap {
	border-radius: 15px;
	height: 100%;
	min-width: 7.25rem;
	width: 7.25rem;
	overflow: hidden;
	img {
		min-height: 14rem;
		max-height: 14rem;
		object-fit: cover;
	}
}
.main_info {
	height: 100%;
	-moz-margin-start: 0.5rem;
	-webkit-margin-start: 0.5rem;
	margin-inline-start: 0.5rem;
}
.title {
	font-size: 1rem;
	font-weight: bold;
}
.line {
	width: 25%;
	margin: 0.5rem 0;
	border-top: 2px solid var(--dark-color)
}
.text {
	font-size: 0.8rem;
}
