.slideshow__container {
  overflow: hidden;
	position: relative;
	animation: phone_animation 0.5s ease-out;
}

.border_container {
	position: relative;
}

.img_border {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

.slide {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 95%;
	width: 95%;
	border-radius: 1.5rem;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 1s;
}

.img {
	padding-top: 1.1rem;
	padding-inline-start: 0.3rem;
	width: 96%;
}

.active {
  opacity: 1;
}

@keyframes phone_animation {
	0% {
		transform: translate(0, 2.6rem);
	}
}
