@import '~style/helpers';
.outer_ltr {
	top: 3.5rem;
	right: 7rem;
	z-index: 2;
}
.outer_rtl {
	transform: scale(-1, 1);
	top: 3.5rem;
	left: 7rem;
	z-index: 2;
}
.city_rtl {
	transform: scale(-1, 1);
	top: 2rem;
	right: -5rem;
	z-index: 2;
}
.city_ltr {
	top: 2rem;
	right: -5rem;
	z-index: 2;
}
.woman_start_rtl {
	transform: scale(-1, 1);
	top: 2rem;
	right: -7rem;
	opacity: 0;
	z-index: 2;
}
.woman_ltr {
	top: 3.5rem;
	right: 7rem;
}
.woman_rtl {
	transform: scale(-1, 1);
	top: 3.5rem;
	left: 7rem;
}
.woman_start_ltr {
	top: 3.5rem;
	right: 7rem;
	opacity: 0;
	z-index: 2;
}
.woman_end_rtl {
	transform: scale(-1, 1);
	transition: all 0.2s;
	top: 3.5rem;
	left: 9rem;
	z-index: 2;
}
.woman_end_ltr {
	transition: all 0.2s;
	top: 3.5rem;
	right: 9rem;
	z-index: 2;
}
.reviews_wrap {
	padding: 1.3rem 0 1rem 0;
	-moz-padding-start: 1rem;
	-webkit-padding-start: 1rem;
	padding-inline-start: 1rem;
	overflow-x: auto;
	display: flex;
}
