.details {
	display: flex;
	height: 100%;
	width: 100%;
}
.main {
	width: 45%;
	h2 {
    padding: 1.2rem .8rem 2rem;
		font-size: 2rem;
		min-height: 14rem;
    font-weight: bold;
	}
}
.phone_wrap {
	display: flex;
	width: 55%;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	img {
		position: relative;
		width: 90%;
		height: 80%;
		object-fit: none;
	}
}
.extended {
	margin-top: .5rem;
	border-radius: 0 15px 15px 0;
	box-shadow: 0 6px 8px 0 rgba(41, 41, 204, 0.16);
	background-color: white;
	-moz-padding-start: 1.1rem;
	-webkit-padding-start: 1.1rem;
	padding-inline-start: 1.1rem;
	-moz-padding-end: 0.5rem;
	-webkit-padding-end: 0.5rem;
	padding-inline-end: 0.5rem;
	padding-bottom: 0.9rem;
	margin-bottom: 4.5rem;
}
.feature_icon {
	fill: #6353f4;
	height: 34px;
	width: 55px;
}
.top {
	display: flex;
	height: 100%;
	padding: 0.6rem 0;
	transition: 0.3s ease-out;
	p {
		-moz-padding-start: 0.6rem;
		-webkit-padding-start: 0.6rem;
		padding-inline-start: 0.6rem;
		font-size: 0.9rem;
  	font-weight: 500;
	}
}
.descr {
	font-size: 0.9rem;
}
.back_button {
	background-color: transparent;
	border: none;
	outline: none;
	display: flex;
	align-items: center;
	color: var(--dark-color);
	font-weight: 500;
	font-size: 0.9rem;
	margin-top: 1rem;
	transition: 0.3s ease-out
}
.back_img {
	-moz-margin-end: 0.5rem;
	-webkit-margin-end: 0.5rem;
	margin-inline-end: 0.5rem;
}

.max {
	opacity: 1;
	top: 0rem;
	transition: 0.1s ease-out
}
.min {
	top: 33rem;
	opacity: 0;
	transition: 0.1s ease-out
}
.min_bth {
	background-color: transparent;
	border: none;
	outline: none;
	display: flex;
	align-items: center;
	color: var(--dark-color);
	font-weight: 500;
	font-size: 0.9rem;
	transition: 0.3s ease-out;
	height: 0%;
}
body[style="direction: rtl;"] & {
	.extended {
		border-radius: 15px 0 0 15px;
	}
	.back_img {
		transform: rotate(180deg)
	}
}
.icon {
	display: flex;
	svg {
		width: 32px;
		height: 32px;
	}
	svg {
		path, g, circle {
			fill: var(--main-bgcolor) !important;
		}
	}
}
